<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VidPackAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BackendUrl" value="http://vidpack.azurewebsites.net"/>
    <add key="NotificationHub_ConnectionString" value="Endpoint=sb://vidpack-ns.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=+pKvadiJtMLt1BcBpttYWKvELK3A1F6zLjbuqpUaoow="/>
    <add key="NotificationHub_Hubpath" value="vidpack"/>
  </appSettings>
  <applicationSettings>
    <VidPackAdmin.Properties.Settings>
    </VidPackAdmin.Properties.Settings>
  </applicationSettings>
</configuration>