<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="aa40d28d-d0ab-4efd-ab06-a0ee70f0cac2" Publisher="CN=robeich" Version="1.0.0.0" />
  <Properties>
    <DisplayName>VidPackClient</DisplayName>
    <PublisherDisplayName>robeich</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VidPackClient.App">
      <VisualElements DisplayName="VidPackClient" Logo="assets\logo.png" SmallLogo="Assets\SmallLogo.png" Description="VidPackClient" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>